.navbar-container {
  height: 80px;
  background-color: var(--purple);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 8px 16px;
}

.navbar__image {
  height: 70px;
}

.navbar__options {
  display: flex;
  list-style: none;
}

.navbar__option {
  margin-inline-start: 32px;
  font-size: var(--fs-sm);
}

.navbar__option a {
  text-decoration: none;
  color: inherit;
}
