/* dosis-regular - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/dosis-v27-latin-regular.woff2') format('woff2'),
    url('fonts/dosis-v27-latin-regular.woff') format('woff'),
    url('fonts/dosis-v27-latin-regular.ttf') format('truetype');
}

/* dosis-600 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/dosis-v27-latin-600.woff2') format('woff2'),
    url('fonts/dosis-v27-latin-600.woff') format('woff'),
    url('fonts/dosis-v27-latin-600.ttf') format('truetype');
}

/* dosis-800 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/dosis-v27-latin-800.woff2') format('woff2'),
    url('fonts/dosis-v27-latin-800.woff') format('woff'),
    url('fonts/dosis-v27-latin-800.ttf') format('truetype');
}

/* Default styles */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Dosis', sans-serif;
  padding-block-end: 16px;
}

/* Global classes */
.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 16px;
}

.section {
  margin-block: 16px;
}

.section__title {
  color: var(--purple);
  font-size: var(--fs-lg);
  margin-block: 24px;
}

/* Variables */
:root {
  --fs-sm: 1.2rem;
  --fs-md: 1.4rem;
  --fs-lg: 1.8rem;
  --fs-giant: 2.8rem;

  --purple-pale: #edeaf1;
  --purple-light: #ab83c9;
  --purple: #3f0f65;
  --purple-dark: #2a0646;

  --category-color-1: #eecc75;
  --category-color-2: #ef9e9d;
  --category-color-3: #cad297;
  --category-color-4: #b8eac5;
  --category-color-5: #a2eee4;
  --category-color-6: #8ea2e9;
}
